@(rooms: List[Chatroom])

@main("Chat Home") {

<div class="container">
	<div class="hero-unit">
		<h1> Free Chat Server </h1>
		<p>
			A humble, free and anonymous chat system. Just create your own chat room,
			share the link with anyone you want to chat, and off you go.
			<br>
		</p>
		<p></p>
	</div>
	<div class="row-fluid">
		<div class="span4 well">
			<h3> Create your chat room </h3>

			<form class="form-vertical" action="createRoom/">
				<input type="text" class="input-large" name="name" placeholder="Enter room name">
				<label class="checkbox" for="makepublic">
					<input type="hidden" value="false" name="makepublic">
					<input type="checkbox" value="true" id="makepublic" name="makepublic">
					Show room in public list</label>
				<p>
					<br>
				</p>
				<button class="btn btn-primary btn-large" href="#">
					Create your chat room
				</button>
			</form>
		</div>
		<div class="span4 well">
			<h3> Your profile </h3>
			<div>
				You are not logged in yet.
			</div>
			<p>
				<a class="btn btn-danger">Sign up</a>
				&nbsp;
				<a class="btn btn-primary">Sign in</a>
			</p>
			<div>
				Logged in as: John Doe
			</div>
			<a class="btn btn-info">Edit your profile
			<br>
			</a>
			&nbsp;
			<a class="btn btn-info">View your public profile</a>
		</div>
		<div class="span4 well">
			<h3> Public chat rooms </h3>
			<table class="table table-striped">
			<thead>
					<tr>
						<th> Room </th>
						<th> Users </th>
					</tr>
				</thead>
				<tbody>
				@for(room <- rooms) {
					<tr>
						<td> <a href="/chat/room/@room.name/">@room.name</a> </td>
						<td> @room.getUserCount() </td>
					</tr>
				}
				</tbody>
				
			</table>
			<p>
				Click any of them to join the chat.
			</p>
		</div>
	</div>
</div>

}

