@(url: String, username: String)

@main("Chatroom") {

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			
			<div class="alert alert-success" data-alert="alert" >
    			<a class="close" data-dismiss="alert" href="#">&times;</a>
    			<span id="alert-message">...</span>
			</div>
			
			<div data-bind="foreach: alerts">
				<div class="alert alert-success" data-alert="alert" >
	    			<a class="close" data-dismiss="alert" href="#">&times;</a>
	    			<span data-bind="text: message">...</span>
				</div>
			</div>

			<div class="widget-box widget-chat">
				<div class="widget-title">
					<span class="icon"> <i class="icon-comment"></i> </span>
					<h5>Support chat</h5>
				</div>
				<div class="widget-content nopadding">
					<div class="chat-content panel-left">
						<div class="chat-messages" id="chat-messages">
							<div data-bind="foreach: messages" id="chat-messages-inner" class="chat-messages-inner">

								<p id="msg-1" class="user-neytiri" style="display: block;">
									<img data-bind="attr: {src: viewModel.getAvatarUrlForUserName(user)}" alt="" />
									<span class="msg-block">
										<strong data-bind="text: user">Harry Potter</strong>
										<span data-bind="text: time" class="time">13:41:05</span>
										<span data-bind="text: message" class="msg">Brabbel</span>
									</span>
								</p>

								<!--
								<p class="offline" id="msg-3" style="display: block;"><span>User Neytiri left the chat</span></p>
								-->

							</div>
						</div>
						<div class="chat-message well">
							<button class="btn btn-success" onClick="sendButtonClick()">
								Send
							</button>
							<span class="input-box">
								<input type="text" name="msg-box" id="msg-box" >
							</span>
						</div>
					</div>
					<div class="chat-users panel-right">
						<div class="panel-title">
							<h5>Online Users</h5>
						</div>
						<div class="panel-content nopadding">
							<ul data-bind="foreach: users, visible: users().length > 0" class="contact-list">
								<li id="user-michelle" class="online">
                                    <a href="#"><img alt="" data-bind="attr: {src: viewModel.getAvatarUrl(avatarUrl)}">
									<span data-bind="text: name">...</span> [<span data-bind="text: status">...</span>]
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div id="footer" class="span12">
			2013 © Bachi</a>
		</div>
	</div>
</div>

<!-- Client JS Code -->

<script type="text/javascript">
	// Server-parsed config values

	var wsUri = "@url";
	var username = "@username";
	var avatarBaseUrl = "@routes.Assets.at("images/avatars/")";

</script>

<script src="@routes.Assets.at("javascripts/knockout-3.1.0.debug.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/chat-ko.js")" type="text/javascript"></script>

}

