@(url: String, username: String)

@main("Chatroom") {

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="alert alert-success">
				This is an example of support chat. Feel free to write something.<a href="#" class="close" data-dismiss="alert">×</a>
			</div>
			<div class="widget-box widget-chat">
				<div class="widget-title">
					<span class="icon"> <i class="icon-comment"></i> </span>
					<h5>Support chat</h5>
				</div>
				<div class="widget-content nopadding">
					<div class="chat-content panel-left">
						<div class="chat-messages" id="chat-messages">
							<div id="chat-messages-inner" class="chat-messages-inner">

								<!-- <p id="msg-1" class="user-neytiri" style="display: block;">
								<img src="img/demo/av2.jpg" alt="">
								<span class="msg-block"><strong>Neytiri</strong> <span class="time">- 23:11</span>
								<span class="msg">I have a problem. My computer not work!</span></span>
								</p> -->

								<!--
								<p class="offline" id="msg-3" style="display: block;"><span>User Neytiri left the chat</span></p>
								-->

							</div>
						</div>
						<div class="chat-message well">
							<button class="btn btn-success" onClick="sendButtonClick()">
								Send
							</button>
							<span class="input-box">
								<input type="text" name="msg-box" id="msg-box" >
							</span>
						</div>
					</div>
					<div class="chat-users panel-right">
						<div class="panel-title">
							<h5>Online Users</h5>
						</div>
						<div class="panel-content nopadding">
							<ul class="contact-list"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div id="footer" class="span12">
			2013 © Bachi</a>
		</div>
	</div>
</div>

<!-- Client JS Code -->

<script type="text/javascript">
	// Server-parsed config values

	var wsUri = "@url";
	var username = "@username";
	var avatarBaseUrl = "@routes.Assets.at("images/avatars/")";

</script>

<script src="@routes.Assets.at("javascripts/chat.js")" type="text/javascript"></script>

}

