@(message: String)

@main("Welcome to Play 2.1") {

<div class="container">

      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

    </div> <!-- /container -->
        
    <div class="modal" id="profile_modal" style="width:350px;height:200px">
      <div class="modal-header">
        <button type="button" class="btn btn-success" data-dismiss="modal">Some nice button here</button>
        <div class="popup_header" style="margin-top:0">
          <div id="myheader"><h4>Welcome to Play Application</h4></div>
        </div>
      </div>
      <div class="modal-body">
        <div id="mypopup"></div>
      </div>
    </div>
}

<div class="btn-group">
  <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
    <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</div>
